@import "_variables";

@mixin layout-reset() {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flex-horizontal() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-vertical() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin single-grid-center() {
  display: grid;
  //place-content: center;
  place-items: center;
}

@mixin default-padding() {
  padding: 0 $default-sides-padding;
}

@mixin unique-sides-padding($left-pad, $right-pad) {
  padding: 0 $right-pad 0 $left-pad;
}

@mixin set-font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin position-absolute-stretch() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
