@import "_variables";
@import "_mixin";

// local level variables:
$vertical-cells-spacing: 10px;
$horizontal-cells-spacing: 15px;
$cell-down-shadow-size: 7px;
$level-nav-bar-height: 7%;

* {
  @include layout-reset();
}

body {
  background-color: $default-background-color;
  position: relative;
  font-size: $default-font-size;

  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  @include flex-vertical();
  position: absolute;
  width: 100%;
  height: 100%;
}

// Main menu specific:
.ui-box {
  height: $ui-box-height;
  width: $ui-box-width;
  background-color: var(--color-light-grey-400);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: 1.1rem;
  color: var(--color-white);

  @include flex-vertical();
  position: relative;

  &__title {
    position: absolute;
    top: 10%;
    font-size: 56px;
  }
}

.games {
  @include flex-horizontal();

  &__game-card {
    @include flex-vertical();
    width: 128px;
    height: 128px;
    margin: 0 30px;
    //padding: 0 50px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;

    &--easy {
      background-color: var(--color-blue-400);
    }
    &--medium {
      background-color: var(--color-yellow-400);
    }
    &--expert {
      background-color: var(--color-red-400);
    }
    &--custom {
      background-color: var(--color-purple-400);
    }
  }
  &__game-card:hover {
    box-shadow: #ffffff80 0px 6px 24px 0px, #ffffffd0 0px 0px 0px 1px;
  }
}

.custom-game {
  display: none;

  position: absolute;
  bottom: 20px;

  &__play-btn {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-purple-100);
    margin: 5px;
  }

  &--visible {
    @include flex-vertical();
    justify-content: flex-start;
    display: block;
  }
}

.custom_game__warning {
  margin-top: 5px;
  color: var(--color-red-400);
}

// Level specific:

.nav-bar {
  @include flex-horizontal();
  color: var(--color-white);
  height: $level-nav-bar-height;

  background-color: var(--color-light-grey);
  width: 100%;

  &__group-container {
    @include flex-horizontal();
    @include default-padding();

    height: 100%;

    &--dark {
      background-color: var(--color-dark-grey);

      &:hover {
        background-color: var(--color-light-grey-300);
      }
    }
  }

  &__arrow {
    width: 24px;
  }

  &__text {
    margin-left: 10px;
  }
}

.level-container {
  @include flex-horizontal();

  justify-content: center;
  height: 93%;
  width: 100%;

  &__level-status {
    @include flex-vertical();
    width: 25%;
    background-color: var(--color-dark-grey-700);
    height: 100%;
    color: var(--color-white);
    font-size: 48px;

    &__mine-counter-header {
      margin-bottom: 10px;
    }
  }
}

.cells-table {
  @include single-grid-center();
  background-color: var(--color-dark-blue);
  width: 75%;
  height: 100%;
  border-spacing: $vertical-cells-spacing $horizontal-cells-spacing;

  &__cell {
    // width: 80px;
    // height: 80px;

    border-radius: 3px;

    &__cell-mark {
      width: 32px;
    }

    &--default {
      background: radial-gradient(
        circle,
        var(--color-blue-100) 0%,
        var(--color-blue-400) 100%
      );
      box-shadow: 0px $cell-down-shadow-size 0px 0px var(--color-blue-700);
    }

    &--flag {
      background: radial-gradient(
        circle,
        var(--color-yellow-100) 0%,
        var(--color-yellow-400) 100%
      );
      box-shadow: 0px $cell-down-shadow-size 0px 0px var(--color-yellow-700);
    }

    &--question-mark {
      background: radial-gradient(
        circle,
        var(--color-green-100) 0%,
        var(--color-green-400) 100%
      );
      box-shadow: 0px $cell-down-shadow-size 0px 0px var(--color-green-700);
    }

    &--revealed {
      background-color: white;
      box-shadow: var(--color-blue-grey-light) 3px 3px 6px 0px inset,
        var(--color-red-grey-light) -3px -3px 6px 1px inset;
    }
  }

  &__cell:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

.level-end-wrapper {
  @include single-grid-center();
  position: absolute;
  width: 100%;
  height: 100%;

  display: none;
  z-index: 1;

  &--visible {
    display: block;
  }

  .level-end-background {
    @include position-absolute-stretch();
    background-color: rgba(177, 189, 190, 0.185);
    z-index: 1;
  }

  .level-end {
    @include position-absolute-stretch();
    z-index: 100;

    &__box {
      top: 35%;
      left: 25%;
      width: 25%;
      height: 300px;
      border: 3px solid var(--color-white);
      background-color: var(--color-light-grey-400-09);
      border-radius: 3px;

      @include flex-vertical();
    }

    &__result-text {
      padding-bottom: 50px;
      font-weight: 900;
      font-size: 48px;

      &--won {
        color: var(--color-yellow-100);
      }

      &--lost {
        color: var(--color-red-700);
      }
    }

    &__buttons-box {
      @include flex-horizontal();
    }

    &__button {
      width: 100px;
      height: 40px;
      margin: 0 10px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      color: var(--color-dark-grey-700);

      &__play-again {
        background: linear-gradient(
          135deg,
          var(--color-blue-100) 0%,
          var(--color-blue-400) 50%,
          var(--color-blue-100) 100%
        );
      }

      &__to-menu {
        background: linear-gradient(
          135deg,
          var(--color-red-100) 0%,
          var(--color-red-400) 50%,
          var(--color-red-100) 100%
        );
      }
    }
  }
}
